<!-- <div  class="footerArea2">
        <div  class="container footer">
            <div  class="detail_left">
                <div  class="logo_area_footer"><img  alt="" src="/assets/images/logo/logo.png?v=1.1"></div>
            </div>
            <div  class="detail_right">
                <div  class="logo_footer">
                    <div  class="menu_footer_">
                        <span  class="links_footer" routerLink="/home" style="border-left: 0px !important;" tabindex="0" ng-reflect-router-link="/home">หน้าแรก</span>
                        <span  class="links_footer" routerLink="/page/register" tabindex="0" >สมัครสมาชิก</span>
                        <span  class="links_footer" routerLink="/page/deposit" tabindex="0" >แจ้งฝาก</span>
                        <span  class="links_footer" routerLink="/page/withdraw" tabindex="0" >แจ้งถอน</span>
                        <span  class="links_footer" routerLink="/promotion" tabindex="0" >โปรโมชั่น</span>
                        <span  class="links_footer" routerLink="/page/contact" style="border-right: 0px !important;" tabindex="0" >ติดต่อเรา</span>
                    </div>
                </div>
                <div  class="footer_visa" style="float: right; clear:both;margin-right:8px;margin-top:20px;">
                    <div  style="float: right;clear: both;"><img  class="tt_img_hover" src="assets/images/footer/visa.png"></div>
                    <div  style="color: white;float: right; clear: both;">COPYRIGHT©2018,megarich88.COM</div>
                </div>
            </div>
        </div>
    </div> -->

    <div _ngcontent-qxf-c2="" class="footerArea">
        <div _ngcontent-qxf-c2="" class="logo_footer"></div>
        <div _ngcontent-qxf-c2="" class="menu_footer"><a _ngcontent-qxf-c2="" class="linkFooter" routerLink="/" ng-reflect-router-link="/" href="/">หน้าหลัก</a><a _ngcontent-qxf-c2="" class="linkFooter" routerLink="register" ng-reflect-router-link="register" href="/register">สมัครสมาชิก</a><a _ngcontent-qxf-c2="" class="linkFooter" routerLink="promotion" ng-reflect-router-link="promotion" href="/promotion">โปรโมชั่น</a><a _ngcontent-qxf-c2="" class="linkFooter" routerLink="deposit" ng-reflect-router-link="deposit" href="/deposit">ฝากออนไลน์</a><a _ngcontent-qxf-c2="" class="linkFooter" routerLink="withdraw" ng-reflect-router-link="withdraw" href="/withdraw">ถอนออนไลน์</a><a _ngcontent-qxf-c2="" class="linkFooter" routerLink="howtoplay" ng-reflect-router-link="howtoplay" href="/howtoplay">ทางเข้าเล่น</a><a _ngcontent-qxf-c2="" class="linkFooter" routerLink="contact" ng-reflect-router-link="contact" href="/contact">ติดต่อเรา</a></div>
        <div _ngcontent-qxf-c2="" class="lineAreaFooter">
            <div _ngcontent-qxf-c2="" class="line_footer">
                <div _ngcontent-qxf-c2="" _ngcontent-fkk-c0="" class="line-text" style="text-align:right;"> CALL CENTER
                    <br _ngcontent-qxf-c2=""> Line@ : @ufa55.com </div>
            </div>
            <div _ngcontent-qxf-c2="" class="qr_footer"></div>
        </div>
        <div _ngcontent-qxf-c2="" class="visa_footer"></div>
    </div>