.footerArea{
    margin-top:15px;
    float: left;
    width: 100%;
    min-height: 191px;
    background-image: url('/assets/images/content/footer.jpg');
    position: relative;
}
.visa_footer{
    background-image: url('/assets/images/content/visa.png');
    width: 304px;
    min-height: 20px;
    bottom:0px;
    float: right;
    background-repeat: no-repeat;
    position: absolute;
    right: 15px;
    bottom: 15px;
}
.line_footer{
    margin-top:35px;
    float: left;
}
.lineAreaFooter{
    float: right;
    position: relative;
    overflow: hidden;
    margin-right: 15px;
    width: 315px;
    padding:15px;
    padding-bottom: 50px;
}
.qr_footer{
    background-image: url('/assets/images/icon/qr.png');
    width: 100px;
    height: 100px;
    bottom:0px;
    float: right;
    background-repeat: no-repeat;
    background-size: contain;
    /* position: absolute; */
    right: 15px;
    bottom: 50px;
}

.line-text_footer {
    float: right;
    position: relative;
    top: 50%;
    margin-top: -10px;
    margin-left: 15px;
    margin-right: 20px;
    color: #00EF33;
    font-weight: 300;
    font-family: "Kanit", "Zawgyi-One", "Tahoma", sans-serif;
}

.line-icon_footer {
    background-image: url(/assets/images/icon/2.png);
    background-size: auto auto;
    background-repeat: no-repeat;
    width: 40px;
    height: 41px;
    float: right;
    position: relative;
    top: 50%;
    margin-top: -20px;
}
.menu_footer{
    float: left;
    margin-top: 15px;
    display: none;
}

.linkFooter{
    color: white;
    margin-left:30px;
}
@media screen and (max-width: 360px) {
    .lineAreaFooter{
        zoom: 63%;
    }
}
@media screen and (min-width: 780px) {
    .lineAreaFooter{
        width: 310px;
    }
    .lineAreaFooter{
        zoom: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .footerArea{
        background-size: contain;
        background-repeat: no-repeat;
    }
    .lineAreaFooter{
        width: unset;
        padding:unset;
        padding-bottom: unset;
        clear: right;
    }
    .menu_footer{
        float: right;
        margin-top: 15px;
        margin-bottom: 8px;
        margin-right: 15px;
        display: block;
    }
       
}