<div *ngIf="showHeader"  class="{{class_checkShow}}" >
    <div  class="container">
        <div _ngcontent-qxf-c0="" class="topArea">
            <div _ngcontent-qxf-c0="" class="logo"></div>
            <div _ngcontent-qxf-c0="" class="line-area">
                <div _ngcontent-qxf-c0="" class="qr-area"></div>
                <div _ngcontent-qxf-c0="" class="line-text"> Line@ : @ufa55.com </div>
                <div _ngcontent-qxf-c0="" class="line-icon"></div>
                <div _ngcontent-qxf-c0="" class="area_login">
                    <form _ngcontent-qxf-c0="" action="http://www.betufa.com/Default8.aspx" autocomplete="off" class="form-inline ng-untouched ng-pristine ng-valid" id="form2" method="post" name="form2" novalidate="">
                        <input _ngcontent-qxf-c0="" id="__EVENTTARGET" name="__EVENTTARGET" type="hidden" value="">
                        <input _ngcontent-qxf-c0="" id="__EVENTARGUMENT" name="__EVENTARGUMENT" type="hidden" value="">
                        <input _ngcontent-qxf-c0="" id="__VIEWSTATE" name="__VIEWSTATE" type="hidden" value="/wEPDwUJNDA0Mzk4OTcxD2QWAmYPZBYCAgUPDxYCHgRUZXh0BQVMT0dJTmRkGAEFHl9fQ29udHJvbHNSZXF1aXJlUG9zdEJhY2tLZXlfXxYBBQlidG5Mb2dpbjKWiFkzYKeHZL6+T8agEpn42oZxjRr1MT0WHTautZ6IpA==">
                        <input _ngcontent-qxf-c0="" id="__EVENTVALIDATION" name="__EVENTVALIDATION" type="hidden" value="/wEdAAdQJmQXeCwKVx/MltOPCnbViHrx0gRh57qNYHb+gYJUfmN6ZYJNGAQHn0c9zMgZU3DXKC+qmhKmedKrf3emf2rP7ixyIk7cehzrzFMW1kZASKKeKEbp39eHc9mbdvkCgxBroKDC8GVybShI95GftY0xyvXBbRKp0s76K5Xc7SM60fTqWhXlPt4YU5g3XZSOWGk=">
                        <div _ngcontent-qxf-c0="" class="form-group " style="margin-top:2px;"><a _ngcontent-qxf-c0="" class="btn btn-default btn-sm" href="http://www.ufa7777.com" id="btnLogin" style="background:#e2510a;color:#FFF">เข้าสู่ระบบ</a><a _ngcontent-qxf-c0="" class="btn btn-default btn-sm" href="/register" style="background:rgb(238, 0, 72);color:#FFF" target="_blank"> สมัครสมาชิก </a></div>
                    </form>
                </div>
            </div>
        </div>
        
        <!-- <div  class="logo_area"><img  src="assets/images/logo/logo.png"></div>
        <div class="qr_line_area"><img src="assets/images/icon/qr_code.png"><img  src="assets/images/icon/line-id.png"></div> -->
        <!-- <div class="social_area">
            <div  class="line_icon" style="margin-right: 20px;">
                <form  action="http://ufavip9.com/api/loginUfabet.php" autocomplete="off" class="ng-untouched ng-pristine ng-valid" id="form3" method="post" name="form3" novalidate="">
                    <div  class="row">
                        <div  class="col" style="padding-left: 0px;">
                            <input  class="form-control input_black" name="username" placeholder="username" type="text">
                        </div>
                        <div  class="col" style="padding-left: 0px;">
                            <input  class="form-control input_black" name="password" placeholder="password" type="password">
                        </div>
                    </div>
                    <div  class="row" style="margin-top:5px;">
                        <div  class="col" style="padding-left: 0px;padding-top: 10px;">
                            <div  class="text_login"> สมัครวันนี้กับโปรโมชั่นมากมาย </div>
                        </div>
                        <div  class="col" style="padding-left: 0px;padding-top: 10px;">
                            <input  id="ac" name="ac" type="hidden" value="loginUfabet">
                            <div  class="badge badge-pill badge-light btn_login_top" onclick="doPostBackBetufa2('btnSignIn','')">Login</div>
                        </div>
                    </div>
                </form>
            </div>
        </div> -->
        <app-navbar *ngIf="showHeader"></app-navbar>
    </div>
  <!-- <div class="header">
      <div class="logo"><img src="/assets/img/logo/logo.png" alt=""></div>
      <div class="div_social">
          <div class="qr"><img src="/assets/img/social/qr_code.png" alt=""></div>
          <div class="line"><img src="/assets/img/social/line-id.png" alt=""></div>
      </div>
      <div class="login_area">
          
      </div>
  </div> -->


</div>
<router-outlet></router-outlet>
<!-- <div class="m_footer col-xs-12">
    <div class="col-xs-3" routerLink="/home"><img src="assets/images/footer/icon-home.png"></div>
    <div class="col-xs-3" ><a href="http://line.me/ti/p/~@vwin168" target="_bank"><img src="assets/images/footer/icon-line.png"></a></div>
    <div class="col-xs-3" routerLink="/promotion"><img src="assets/images/footer/icon_guide.png"></div>
    <div class="col-xs-3" routerLink="/page/register" ><img src="assets/images/footer/icon_add.png"></div>
</div> -->
<div  class="container">
    <app-footer *ngIf="showHeader"></app-footer>
</div>

