
.area_login2{
    float: left;
    position: relative;
    width: 100%;
    margin-top:15px;
    margin-bottom:15px;
    margin-left:30px;
    height: 80px;
}
.form-inline {
    height: 35px;
}

.area_login{
    display: none;
}

.form-inline .form-control {
    display: inline-block;
    margin-right: 10px;
    width: 100px;
    height: 30px;
    vertical-align: middle;
}
.btn-group-sm>.btn, .btn-sm {
    margin-right: 10px;
}


    @media screen and (min-width: 500px) {
        .area_login2{
            height: unset;
        }
    }
@media screen and (min-width: 1000px) {
    .area_login2{
        display: none;
    }
    .area_login{
        float: left;
        position: relative;
        width: 450px;
        margin-top: 50px;
        margin-left: -180px;
        display: block;
    }
    
}

@media screen and (min-width: 1100px) {

    .area_login{
        float: left;
        position: relative;
        width: 450px;
        /* margin-top: 40px;
        margin-left: -120px; */
        margin-top: 65px;
        margin-left: -300px;
        display: block;
    }
}