.subMenu{
    flex-direction: row;
    /* display: none; */
    margin-top:15px;
}
.home_menu{
    background-color: #111111;
    height: auto;
    min-height: 240px;
    width: 100%;
    float: left;
}
.home_menu .container{
    background-color: unset;
    text-align: center;
}
.icon_menu{
    margin-top:15px;
}

.icon_menu_home{
    width: 100%; height:auto;
}
.icon_menu{
    float: left;
    padding-bottom: 15px;
    width: 100%;
    margin-left: 0px;
  }
.nav-item-sub{
    /* width: 11.11%; */
    line-height: 1;
}
.nav-item:hover{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    cursor: pointer;
}
.navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
   height: 40px;
   bottom: -5px;
    position: relative;
}
.nav-item-sub1{
    background-image: url('/assets/images/menu/sport.jpg');
    margin-left: 10px;
    width: 25%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
}
.nav-item-sub2{
    background-image: url('/assets/images/menu/casino.jpg');
    margin-left: 10px;
    width: 25%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
}
.nav-item-sub3{
    background-image: url('/assets/images/menu/game.jpg');
    margin-left: 10px;
    width: 25%;
    height: 220px;
    background-size: contain;
    background-repeat: no-repeat;
}
.nav-item-sub4{
    background-image: url('/assets/images/menu/lotto.jpg');
    margin-left: 10px;
    width: 25%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (min-width:300px) and (max-width:500px) {
    .nav-item-sub1{
        background-image: url('/assets/images/menu/sport.jpg');
        margin-left: 10px;
        width: 25%;
        height: auto;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .nav-item-sub2{
        background-image: url('/assets/images/menu/casino.jpg');
        margin-left: 10px;
        width: 25%;
        height: auto;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .nav-item-sub3{
        background-image: url('/assets/images/menu/game.jpg');
        margin-left: 10px;
        width: 25%;
        height: auto;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .nav-item-sub4{
        background-image: url('/assets/images/menu/lotto.jpg');
        margin-left: 10px;
        width: 25%;
        height: auto;
        background-size: contain;
        background-repeat: no-repeat;
    }
}


.tab-menu .nav-link {
    text-align: center;
    width: 100%;
    font-size: 14px;
    color: #fff;
    font-family: Kanit;
    padding: 15px 0;
    display: block;
    background: #d42027;
    position: relative;
    margin: 0px;
}

.nav-item:first-child { 
    margin-left:0px;
}

.nav-pills .nav-item+.nav-item, .nav-tabs .nav-item+.nav-item {
    margin-left: .2rem;
}

.nav-link {
    color:#fff !important;
    font-size: 12px  !important;
    font-family: Kanit !important;
}
.hot {
    color: #fff;
    background-color: #d42027;
    display: inline-block;
    font-size: 8px;
    padding: 1px 2px;
    border-radius: 2px;
    position: absolute;
    animation: blinker 1s linear infinite;
    right: 0;
    top: 25px;
}

.active-menu
{
    background: white;
}
.active-menu-text{
    color:black !important;
}
@media screen and (min-width: 500px) and (max-width:639px) {
    .subMenu{
        height: 90px;
    }
}
@media screen and (min-width: 640px) {
    .subMenu{
        height: 106px;
    }
}
@media screen and (min-width:768px) and (max-width:900px) {
    .subMenu{
        display: flex;
        height: 140px;
    }
}

@media screen and (min-width:901px) and (max-width:1023px) {
    .subMenu{
        height: 180px;
    }
}
@media (min-width: 1024px){
    .subMenu{
        display: flex;
        height: 195px;
    }
}
@media (min-width: 1100px){
    .subMenu{
        display: flex;
        height: 190px;
    }
    .icon_menu_home{
        width: 100%; height:220px;
    }
    
    .icon_menu{
        width: 50%;
    }
    .col-6{
        padding-right: 0px;
        padding-left: 0px;
    }
    .icon_menu:first-child{
        padding-right: 10px !important;
    }
    .row{
        margin-right: 0px !important;
    }
    
    .first_menu_padding{
        padding-right: 5px;
    }
    .menu_padding{
        padding-left: 5px;
    }
}
@media (min-width: 1200px){
    .subMenu{
        display: flex;
        height: 230px;
    }
}