<div _ngcontent-qxf-c5="" class="home_menu">
    <div _ngcontent-qxf-c5="" class="container">
        <div _ngcontent-qxf-c5="" class="area_menu">
            <div _ngcontent-qxf-c5="" class="row icon_menu">
                <div _ngcontent-qxf-c5="" class="col-6"><img _ngcontent-qxf-c5="" class="icon_menu_home first_menu_padding" routerLink="/page/sport" src="/assets/images/menu/sport.jpg" tabindex="0" ng-reflect-router-link="/page/sport"></div>
                <div _ngcontent-qxf-c5="" class="col-6"><img _ngcontent-qxf-c5="" class="icon_menu_home menu_padding" routerLink="/page/casino" src="/assets/images/menu/casino.jpg" tabindex="0" ng-reflect-router-link="/page/casino"></div>
            </div>
            <div _ngcontent-qxf-c5="" class="row icon_menu">
                <div _ngcontent-qxf-c5="" class="col-6"><img _ngcontent-qxf-c5="" class="icon_menu_home first_menu_padding" routerLink="/page/game" src="/assets/images/menu/game.jpg" tabindex="0" ng-reflect-router-link="/page/game"></div>
                <div _ngcontent-qxf-c5="" class="col-6"><img _ngcontent-qxf-c5="" class="icon_menu_home menu_padding" routerLink="/page/lotto" src="/assets/images/menu/lotto.jpg" tabindex="0" ng-reflect-router-link="/page/lotto"></div>
            </div>
        </div>
    </div>
</div>